<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="es-CO" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->

  <head>
    <title>BISUTERIA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Colección de Accesorios con Oro Laminado. Material compuesto por titanio con tres capas de oro 18 kilates al horno con tecnología italiana. Tiene el mismo tono y brillo del oro. Es resistente al agua, sudor y lociones. No se pela, no se negrea, no se decolora. Garantizados por 1 año." />
    <meta name="robots" content="follow, all" />
    
<style>
.btn-whatsapp {
       display:block;
       width:70px;
       height:70px; 
       color:#fff;
       position: fixed;
       right:20px;
       bottom:20px;
       border-radius:50%;
       line-height:80px;
       text-align:center;
       z-index:999;
}
</style>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Facebook Meta tags for Product -->
<meta property="fb:app_id" content="283643215104248" />

  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
  
    
    
  



<meta property="og:description" content="" />
<meta property="og:url" content="https://iconicstr.com/oro-laminado/date/desc?page=1" />
<meta property="og:site_name" content="" />
<meta name="twitter:card" content="summary" />


<meta property="og:locale" content="es_CO" />



    

    
    <link rel="canonical" href="">
    

    <script type="application/ld+json">
{
  "@context": "http://schema.org/"
  
}
</script>


  <script src="//code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <link rel="icon" href=" https://assets.jumpseller.com/store/iconic/themes/247919/options/16634580/Logo%20150x150.jpg?1586449869 ">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

		
    <link rel="stylesheet" type="text/css" href="https://assets.jumpseller.com/store/iconic/themes/247919/app.css?1598495119"/>
    <link rel="stylesheet" type="text/css" href="https://assets.jumpseller.com/store/iconic/themes/247919/color_pickers.css?1598495119"/>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
<script type="text/javascript">
  WebFont.load({
    google: {
      families: ["Roboto Condensed:300,400,500,600,700,800", "Roboto:300,400,500,600,700,800", "Roboto:300,400,500,600,700,800"]
    }
  });
</script>

<style type="text/css">
  body {
    font-family: 'Roboto Condensed' !important;
  }

  h1, h2 {
    font-family: 'Roboto' !important;
  }

  .navbar-brand, .text-logo {
    font-family: 'Roboto' !important;
  }

  body  {
    font-size: 16px !important;
  }

  h2.block-header {font-size:28px !important}

  .navbar-brand, .text-logo {
    font-size: 40px !important;
  }
  #navbarsContainer li a {
    font-size: 13px !important;
  }
  @media (min-width: 768px) {
    #carousel-home .item .carousel-info h2 {
      font-size: 1.5rem !important;
    }
  }

</style>


    

<!-- Script to Dropdown -->
<script>
 $('.float-right .dropdown').click(function(){
$(this).toggleClass('show');
});
</script>

<meta name='google-site-verification' content='i6ycFrMvPhEuoZ0KClKddA3LRU7Kj6AKpdyY_Wn2fBw'/>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '253105328622454');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=253105328622454&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123367543-1">
</script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-123367543-1');
</script>
    
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P77S48J');</script>
<!-- End Google Tag Manager -->

<!-- Mailchimp Code -->
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/d2a8d61921546a1e2b320e187/b064cfbc00ac03ab0eefb003e.js");</script>
<!-- End Mailchimp Code -->
    

<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-12220401-1');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');

  
    ga('create', 'UA-123367543-1', 'iconicstr.com', {'name': 'newTracker'});
    ga('newTracker.send', 'pageview');
  

  
</script>

<script src="/javascripts/dist/jumpseller-2.0.0.js?1602531754" type="text/javascript" defer="defer"></script>
<meta content="authenticity_token" name="csrf-param" /><meta content="qSQY3w/r1SZ1QaUxcR6DOT0inNYD0UtUOfWUuDVpO7Q=" name="csrf-token" />



<script type="text/javascript">
  // Pixel code
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.agent='pljumpseller';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/' + getNavigatorLocale() + '/fbevents.js');

  var data = {};

  data.currency = 'COP';
  data.total = '0.0';
  data.products_count = '0';

  

  data.content_ids = [];
  data.contents = [];
  data.single_value = 0.0;

  // FB Pixel Advanced Matching
  
  
  var advancedCustomerData = {
    'em' : '',
    'fn' : '',
    'ln' : '',
    'ph' : ''.replace(/[^0-9.]/g, ""), // only numbers
    'ct' : ''.replace(/ /g, '') // remove all whitespace
  };

  var missingCustomerData = Object.values(advancedCustomerData).some(function(value) { return value.length == 0 });

  if(missingCustomerData) {
    fbq('init', '253105328622454');
  } else {
    fbq('init', '253105328622454', advancedCustomerData);
  }

  // PageView - build audience views (default FB Pixel behaviour)
  fbq('track', 'PageView');

  

  // track conversion events, ordered by importance (not in this doc)
  // https://developers.facebook.com/docs/facebook-pixel/api-reference%23events
  
      // ViewContent - When a key page is viewed such as a category page
      fbq('track', 'ViewContent', {
        source: 'Jumpseller',
        value: 0,
        currency: data.currency,
        content_name: document.title,
        referrer: document.referrer,
        userAgent: navigator.userAgent,
        language: navigator.language
      });


  

  function getNavigatorLocale(){
    return navigator.language.replace(/-/g,'_')
  }
</script>

<script src="https://jumpseller-apps.herokuapp.com/facebook-messenger/script/ed3bca58-4ce7-4d29-a8fc-18b7f748dbd2/jsapp.js" type="text/javascript" defer="defer"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

  

  <!-- Fixed Top Bar -->

       


<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>


  <!-- Navigation Mobile -->
<div class="mobilenav d-lg-none trsn">
  <div class="menu-header">
    <div class="item item-1 trsn">
      <i class="fas fa-search"></i>
      <form id="search_mini_form_mobile" class="navbar-form form-inline trsn" method="get" action="/search">
        <input type="text" value="" name="q" class="form-text" onFocus="javascript:this.value=''" placeholder="Buscar productos" />
      </form>
    </div>
    
    

    <div class="nav-icon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="menu-top"></div>
  <div class="mobilenav-inner">
    <ul class="menu-mobile trsn">
      
   <div class="login" >
          <a href="/customer/login" id="login-link-2" class="trsn nav-link" title="Ingresar / RegistrarseIconic Store">
            <i class="fas fa-user"></i>
            <span class="customer-name">
              Ingresar / Registrarse
            </span>
          </a>
        </div>
        
      </li>
      <li>
        
      </li>
      
      <li class="social-item">
        <a href="" class="trsn" title="Ir a Facebook" target="_blank">
          <i class="fab fa-facebook-f fa-fw"></i>Facebook
        </a>
      </li>
      

      
      <li class="social-item">
        <a href="" class="trsn" title="Ir a Twitter" target="_blank">
          <i class="fab fa-twitter fa-fw"></i>Twitter
        </a>
      </li>
      

      
      
      <li class="social-item">
        <a href="" class="trsn" title="Ir a Instagram" target="_blank">
          <i class="fab fa-instagram fa-fw"></i>Instagram
        </a>
      </li>
      
      
      <li class="social-item">
        <a href="" class="trsn" title="WhatsApp" target="_blank">
          <i class="fab fa-whatsapp fa-fw"></i>WhatsApp
        </a>
      </li>
      
      
    </ul>
  </div>
</div>
<div class="nav-bg-opacity"></div>

  
  <!-- Page Content -->
  <script>
  $('.dropdown-filter').click(function(){
    $(this).toggleClass('show');
  });
</script>
<div class="container mt-md-0 my-5">
  <div class="row">
    <div class="col-12">
      <h1 class="page-header"> GORRAS</h1>
    </div>
    

    <!--cosmesticos-->
     <div class="container" id="lista-productos">
            
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bold">ADIDAS</h4>
                    </div>
                    <div class="card-body">
                        <img src="/imagenes/adidas.jpg" width="200" height="200" class="card-img-top">
                        <h1 class="card-title pricing-card-title precio">S/. <span class="">35000</span></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>COLOR DE ADIDAS</li>
                            <li>Negras</li>
                            <li>Azul</li>
                            <li>Gris</li>
                        </ul>
                        <a href="http://localhost:4000/compra/agregar" class="btn btn-block btn-primary agregar-carrito" data-id="1">Comprar</a>
                    </div>
                </div>
                 
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bold">HURLEY </h4>
                    </div>
                    <div class="card-body">
                        <img src="/imagenes/hurley.jpg"width="200" height="200" class="card-img-top">
                        <h1 class="card-title pricing-card-title precio">S/. <span class="">25000</span></h1>

                        <ul class="list-unstyled mt-3 mb-4">
                            <li>TIPOS DE HURLEY</li>
                            <li>Negras</li>
                            <li>Azul</li>
                            <li>Gris</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="2">Comprar</a>
                    </div>
                </div>

                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bold">HOMBRE</h4>
                    </div>
                    <div class="card-body">
                        <img src="/imagenes/hombres.jpg" width="200" height="200" class="card-img-top">
                        <h1 class="card-title pricing-card-title precio">S/. <span class="">40000</span></h1>

                        <ul class="list-unstyled mt-3 mb-4">
                            <li> HOMBRE</li>
                            <li>Negras</li>
                            <li>Azul</li>
                            <li>Gris</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="3">Comprar</a>
                    </div>
                </div>

            </div>

            <div class="card-deck mb-3 text-center">
                
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bold">PERSONALIZADAS</h4>
                    </div>
                    <div class="card-body">
                        <img src="/imagenes/dory.jpg" width="200" height="200" class="card-img-top">
                        <h1 class="card-title pricing-card-title precio">S/. <span class="">5900</span></h1>

                        <ul class="list-unstyled mt-3 mb-4">
                            <li>PERSONALIZADAS</li>
                            <li>Negras</li>
                            <li>Morado</li>
                            <li>Gris</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="4">Comprar</a>
                    </div>
                </div>

                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bold">BEISBOL </h4>
                    </div>
                    <div class="card-body">
                        <img src="/imagenes/bola.jpg" width="200" height="200" class="card-img-top">
                        <h1 class="card-title pricing-card-title precio">S/. <span class="">25000</span></h1>

                        <ul class="list-unstyled mt-3 mb-4">
                            <li>BEISBOL</li>
                            <li>Negras</li>
                            <li>Azul</li>
                            <li>Gris</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="5">Comprar</a>
                    </div>
                </div>

                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bold">VANS</h4>
                    </div>
                    <div class="card-body">
                        <img src="/imagenes/ans.jpg" width="200" height="200" class="card-img-top">
                        <h1 class="card-title pricing-card-title precio">S/. <span class="">30000</span></h1>

                        <ul class="list-unstyled mt-3 mb-4">
                            <li>TIPO DE VANS</li>
                           <li>Negras</li>
                            <li>Azul</li>
                            <li>Gris</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="6">Comprar</a>
                    </div>
                </div>

            </div>

            <div class="card-deck mb-3 text-center">
                
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bold">GUCCI</h4>
                    </div>
                    <div class="card-body">
                        <img src="/imagenes/cci.jpg" width="200" height="200" class="card-img-top">
                        <h1 class="card-title pricing-card-title precio">S/. <span class="">50000</span></h1>

                        <ul class="list-unstyled mt-3 mb-4">
                            <li>TIPOS DE GUCCI</li>
                            <li>Negras</li>
                            <li>Azul</li>
                            <li>ORO</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="7">Comprar</a>
                    </div>
                </div>

                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bold">JORDAN</h4>
                    </div>
                    <div class="card-body">
                        <img src="/imagenes/jordan.jpg"width="200" height="200" class="card-img-top">
                        <h1 class="card-title pricing-card-title precio">S/. <span class="">25000</span></h1>

                        <ul class="list-unstyled mt-3 mb-4">
                            <li>TIPOS DE JORDAN</li>
                            <li>Negro</li>
                            <li>Rojo</li>
                            <li>Rosado</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="8">Comprar</a>
                    </div>
                </div>

                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bold">BOINAS</h4>
                    </div>
                    <div class="card-body">
                        <img src="/imagenes/boinas.jpg" width="200" height="200" class="card-img-top">
                        <h1 class="card-title pricing-card-title precio">S/. <span class="">55397</span></h1>

                        <ul class="list-unstyled mt-3 mb-4">
                            <li>TIPO DE BOINAS</li>
                            <li>Negras</li>
                            <li>Azul</li>
                            <li>Gris</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="9">Comprar</a>
                       </div>
                </div>
            </div>
        </div>
   <script src="js/pedido.js"></script>
   <script src="js/carrito.js"></script>

  
  
</div>
<div class="btn-whatsapp">
<a href="https://api.whatsapp.com/send?phone=573145631482&text=%C2%A1Hola!%20Deseo%20informaci%C3%B3n%20sobre%20sus%20productos.%20Iconicstr.com%20" target="_blank">
<img src="https://cdn.shopify.com/s/files/1/0070/3666/5911/files/ic-3.svg?v=1584017540" alt="">
</a>
</div>

  <!-- Footer -->
  
  <footer class="pt-5 pb-3">
  <div class="container">
    <div class="row text-md-left text-center justify-content-center">
      
      <div class="col-lg-3 col-md-6">
        <h5>Sobre Nosotros</h5>
        <div class="footer-description text-center text-md-left mb-lg-0 mb-3">
          
          Tienda colombo-Koreana presenta sus producto de : Comesticos,Bisuteria,Gorras,Bolsos,Gala,Ropa Niños,Ropa Niñas,Mujer. Reputación 5/5 ★★★★★
          
        </div>
      </div>
      
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
        <h5>Contacto</h5>
        <ul>
          <li><a href="" target="_blank" title="iconic.ventas@gmail.com">aendeulyuseu obiedo@gmail.com</a></li>
          
          <li class="footer-top__menu-item">
            <a href="tel:+573184307004" title="Llámanos">+57 3184307004</a>
          </li>
          
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
        <h5>Menú</h5>
        <ul class="navbar-nav mr-auto">
          
          <li>
  <a href=""  title="Términos y Condiciones">Términos y Condiciones</a>
</li>



          
          <li>
  <a href=""  title="Garantías y Reembolsos">Garantías y Reembolsos</a>
</li>



          
          <li>
  <a href=""  title="Políticas de Envío">Políticas de Envío</a>
</li>



          
          <li>
  <a href=""  title="Recomendaciones">Recomendaciones</a>
</li>



          
          <li>
  <a href=""  title="Días sin IVA">Días sin IVA</a>
</li>



          
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
        
        <h5>Suscríbete a Nuestro VIP</h5>
        <div id="newsletter">
          <form action="http://eepurl.com/g1czw9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="form-group mb-0">
                <!-- Begin MailChimp Signup Form -->
                <input type="email" id="mce-EMAIL" class="email field form-control footer-subscribe__email" name="EMAIL" placeholder="Ingresa tu E-mail" required>
                <button type="submit" id="mc-embedded-subscribe" class="btn btn-link p-0 footer-subscribe__button" name="subscribe"><i class="far fa-envelope"></i></button>
                <!-- end .footer-subscribe__field -->

                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_37d0843fc21a18eccb8d392eb_f7037d65c5" tabindex="-1" value=""></div>
              </div>
              <small>Registra tu e-mail para recibir ofertas.</small>
            </div>
          </form>
        </div>
        
        
        
        <ul class="list-inline social-footer my-3">
          
          <li class="list-inline-item">
            <strong>Síguenos:</strong>
          </li>
          
          
          <li class="list-inline-item">
            <a href="" title="Ir a Facebook" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          

          
          <li class="list-inline-item">
            <a href="" title="Ir a Twitter" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </li>
          

          
          
          <li class="list-inline-item">
            <a href="" title="Ir a Instagram" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          
          
          <li class="list-inline-item d-md-none">
            <a href="" title="WhatsApp" target="_blank">
              <i class="fab fa-whatsapp fa-fw"></i>
            </a>
          </li>
          
          
        </ul>
        
      </div>


    </div>
  </div>
  <hr class="mb-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-4 text-lg-left text-center mb-lg-0 mb-3">
        <div class="powerd-by">&copy; 2020 앤드류스 스토어 <br>앤드류스 오비에도(andrews oviedo ) <a href='https://jumpseller.co/?utm_medium=store&utm_source=iconic' title='Crear Tienda Online' target='_blank' rel='nofollow noopener'></a>.</div>
      </div>
      <div class="col-md-4 text-center">
        <a href="" title="앤드류스 스토어">
          <h2>앤드류스 스토어</h2>
         
        </a>
      </div>
      <div class="col-md-4">
        <ul class="payment text-lg-right text-center">
          
          
          
          
          
          
          
          <li><span><img src="https://assets.jumpseller.com/store/iconic/themes/247919/pay-payu.png?1598495119" alt="PayU"></span></li>
          <li><span><img src="https://assets.jumpseller.com/store/iconic/themes/247919/pay-visa.png?1598495119" alt="Visa"></span></li>
          <li><span><img src="https://assets.jumpseller.com/store/iconic/themes/247919/pay-master.png?1598495119"  alt="Mastercard"></span></li>
          
          <li><span><img src="https://assets.jumpseller.com/store/iconic/themes/247919/pay-paypal.png?1598495119" alt="Paypal"></span></li>
          
          

          
          
        </ul>
      </div>
    </div>
  </div>

</footer>

  
  <!-- /.container -->

  <!-- Bootstrap Core -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/bootstrap.filestyle/1.1.0/js/bootstrap-filestyle.min.js"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  
  
<script src="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://assets.jumpseller.com/store/iconic/themes/247919/owl.carousel2.thumbs.min.js?1598495119"></script>

<script>
  
  $('#carousel-home .item').addClass('item-background');
  
  $('.home_slider').owlCarousel({
    items:1,
    
    loop:true,
		dots: true,
		margin:0,
		nav:true,
		autoplay: true,
		autoplayTimeout: 4000,
		autoplayHoverPause:true,
		navText: ["<i class='fas fa-angle-left'></i>", "<i class='fas fa-angle-right'></i>"]
	})

  $('.product-images').owlCarousel({
    loop: false,
    items:1,
    dots: false,
    margin:0,
    autoHeight:true,
    nav: true,
    thumbs: true,
    thumbsPrerendered: true,
    thumbs: true,
    thumbsPrerendered: true,
		navText: ["<i class='fas fa-angle-left'></i>", "<i class='fas fa-angle-right'></i>"]
  });
</script>

  <script type="text/javascript" src="https://assets.jumpseller.com/store/iconic/themes/247919/main.js?1598495119"></script>

  
  
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P77S48J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  <script src="https://jumpseller-apps.herokuapp.com/tag-manager/script/a891a906-d29c-47ea-9206-e57ce0d27576/jsapp.js" type="text/javascript" defer="defer"></script>
</body>
</html>