<span class="product-fields-title-wrapper"><span class="product-fields-title"><strong>Acabado:</strong></span>
						</span>
				<div class="product-field-display"><select name="customProductData[62][8][48]" class="vm-chzn-select">
        <option value="Crudo" selected="selected">Crudo</option>
        <option value="Anodizado Blanco Mate">Anodizado Blanco Mate</option>
        <option value="Anodizado Anolock">Anodizado Anolock</option>
        <option value="Anodizado Champaña">Anodizado Champa&ntilde;a</option>
        <option value="Anodizado Dorado">Anodizado Dorado</option>
        <option value="Anodizado Negro">Anodizado Negro</option>
        <option value="Pintura Blanco">Pintura Blanco</option>
        <option value="Pintura Negro">Pintura Negro</option>
        <option value="Pintura Madera">Pintura Madera</option>
</select>
</div>