<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="es-CO" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->

  <head>
    <title>Iconic Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Tienda de Accesorios, Oro Laminado, Manillas, Collares, Camandulas, Gorras y Camisetas. Envíos a toda Colombia. Multiples Medios de Pago. Compra 100% Segura. Reputación 5/5 ★★★★★" />
    <meta name="robots" content="follow, all" />
    
<style>
.btn-whatsapp {
       display:block;
       width:70px;
       height:70px;
       color:#fff;
       position: fixed;
       right:20px;
       bottom:20px;
       border-radius:50%;
       line-height:80px;
       text-align:center;
       z-index:999;
}
</style>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Facebook Meta tags for Product -->
<meta property="fb:app_id" content="283643215104248" />

  <meta property="og:title" content="Iconic Store" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://images.jumpseller.com/store/iconic/store/logo/Encabezado_Best_3.jpg?0" />


<meta property="og:description" content="Tienda de Accesorios, Oro Laminado, Manillas, Collares, Camandulas, Gorras y Camisetas. Envíos a toda Colombia. Multiples Medios de Pago. Compra 100% Segura. Reputación 5/5 ★★★★★" />
<meta property="og:url" content="https://iconicstr.com/cart" />
<meta property="og:site_name" content="Iconic Store" />
<meta name="twitter:card" content="summary" />


<meta property="og:locale" content="es_CO" />



    

    
    <link rel="canonical" href="/cart">
    

    <script type="application/ld+json">
{
  "@context": "http://schema.org/"
  
}
</script>


  <script src="//code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <link rel="icon" href=" https://assets.jumpseller.com/store/iconic/themes/247919/options/16634580/Logo%20150x150.jpg?1586449869 ">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

		
    <link rel="stylesheet" type="text/css" href="https://assets.jumpseller.com/store/iconic/themes/247919/app.css?1602545711"/>
    <link rel="stylesheet" type="text/css" href="https://assets.jumpseller.com/store/iconic/themes/247919/color_pickers.css?1602545711"/>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
<script type="text/javascript">
  WebFont.load({
    google: {
      families: ["Roboto Condensed:300,400,500,600,700,800", "Roboto:300,400,500,600,700,800", "Roboto:300,400,500,600,700,800"]
    }
  });
</script>

<style type="text/css">
  body {
    font-family: 'Roboto Condensed' !important;
  }

  h1, h2 {
    font-family: 'Roboto' !important;
  }

  .navbar-brand, .text-logo {
    font-family: 'Roboto' !important;
  }

  body  {
    font-size: 16px !important;
  }

  h2.block-header {font-size:28px !important}

  .navbar-brand, .text-logo {
    font-size: 40px !important;
  }
  #navbarsContainer li a {
    font-size: 13px !important;
  }
  @media (min-width: 768px) {
    #carousel-home .item .carousel-info h2 {
      font-size: 1.5rem !important;
    }
  }

</style>


    

<!-- Script to Dropdown -->
<script>
 $('.float-right .dropdown').click(function(){
$(this).toggleClass('show');
});
</script>

<meta name='google-site-verification' content='i6ycFrMvPhEuoZ0KClKddA3LRU7Kj6AKpdyY_Wn2fBw'/>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '253105328622454');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=253105328622454&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123367543-1">
</script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-123367543-1');
</script>
    
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P77S48J');</script>
<!-- End Google Tag Manager -->

<!-- Mailchimp Code -->
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/d2a8d61921546a1e2b320e187/b064cfbc00ac03ab0eefb003e.js");</script>
<!-- End Mailchimp Code -->
    

<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-12220401-1');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');

  
    ga('create', 'UA-123367543-1', 'iconicstr.com', {'name': 'newTracker'});
    ga('newTracker.send', 'pageview');
  

  
</script>

<script src="/javascripts/dist/jumpseller-2.0.0.js?1602683651" type="text/javascript" defer="defer"></script>
<meta content="authenticity_token" name="csrf-param" /><meta content="qSQY3w/r1SZ1QaUxcR6DOT0inNYD0UtUOfWUuDVpO7Q=" name="csrf-token" />



<script type="text/javascript">
  // Pixel code
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.agent='pljumpseller';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/' + getNavigatorLocale() + '/fbevents.js');

  var data = {};

  data.currency = 'COP';
  data.total = '359990.0';
  data.products_count = '1';

  

  data.content_ids = [4848820];
  data.contents = [{"id":4848820,"quantity":1,"item_price":359990.0,"item_discount":0.0}];
  data.single_value = 0.0;

  // FB Pixel Advanced Matching
  
  
  var advancedCustomerData = {
    'em' : '',
    'fn' : '',
    'ln' : '',
    'ph' : ''.replace(/[^0-9.]/g, ""), // only numbers
    'ct' : ''.replace(/ /g, '') // remove all whitespace
  };

  var missingCustomerData = Object.values(advancedCustomerData).some(function(value) { return value.length == 0 });

  if(missingCustomerData) {
    fbq('init', '253105328622454');
  } else {
    fbq('init', '253105328622454', advancedCustomerData);
  }

  // PageView - build audience views (default FB Pixel behaviour)
  fbq('track', 'PageView');

  

  // track conversion events, ordered by importance (not in this doc)
  // https://developers.facebook.com/docs/facebook-pixel/api-reference%23events
  
    // ViewCart - /cart/index
    fbq('track', 'ViewCart', {
      source: 'Jumpseller',
      value: data.total,
      currency: data.currency,
      content_name: document.title,
      content_type: 'product',
      content_ids: data.content_ids,
      contents: data.contents,
      referrer: document.referrer,
      userAgent: navigator.userAgent,
      language: navigator.language
    });

  

  function getNavigatorLocale(){
    return navigator.language.replace(/-/g,'_')
  }
</script>

<script src="https://jumpseller-apps.herokuapp.com/facebook-messenger/script/ed3bca58-4ce7-4d29-a8fc-18b7f748dbd2/jsapp.js" type="text/javascript" defer="defer"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

  
  <!-- Page Content -->
  

<div class="container cart my-5">
  <!-- Cart Table -->
  <div class="row">
    <div class="col-12">
      <div class="cart-header mb-5 text-center">
        <a href="" title="앤드류스 스토어" class="logo">
          <h1>앤드류스 스토어</h1>
        </a>
        <ul class="list-inline cart-steps py-3 mt-4 m-0 border-bottom border-top">
          <li class="list-inlie-item active">Carro</li>
          <li class="list-inlie-item bullet"><img src=""></li>
          <li class="list-inlie-item">Proceso de Pago</li>
          <li class="list-inlie-item bullet"><img src=""></li>
          <li class="list-inlie-item">Revisión del pedido</li>
          <li class="list-inlie-item bullet"><img src=""></li>
          <li class="list-inlie-item">Éxito</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-8 mb-4">
      <h1>Carro de Compras</h1>
      <form id="cart-update-form" method="post" action="/cart/update">
        <div class="table-responsive card">
          <table class="table">
            <thead>
              <tr>
                <th>Producto</th>
                <th class="d-none d-sm-table-cell"></th>
                <th>Cantidad</th>
                <th class="d-none d-sm-table-cell">Precio Unitario</th>
                <th>Subtotal</th>
                <th></th>
              </tr>
            </thead>
            
            <tr>
              <td class="d-none d-sm-table-cell">
                <a href="/camandula-rosario-ojo-de-tigre-azul-oro-laminado-18k" class="trsn" title="Rosario Ojo de Tigre Azul Oro Laminado 18k">
                  
                  <img src="/imagenes/polvo.jpg" alt="polvo cosmesticos" title="polvo cosmesticos">
                  
                </a>
              </td>
              <td class="product_info">
                
                <h3>
                  polvo cosmesticos
                </h3>
                
              </td>
              <td>
                <div class="select">
                  <select class="select select-qty form-control" name="36088172" title="Qty" onchange="$('#cart-update-form').submit();return false;">
                    
                    
                    <option value="1" selected="selected">1</option>
                    
                    <option value="2" >2</option>
                    
                    <option value="3" >3</option>
                    
                    <option value="4" >4</option>
                    
                    <option value="5" >5</option>
                    
                    <option value="6" >6</option>
                    
                    <option value="7" >7</option>
                    
                    <option value="8" >8</option>
                    
                    <option value="9" >9</option>
                    
                    <option value="10" >10</option>
                    
                    <option value="11" >11</option>
                    
                    <option value="12" >12</option>
                    
                    <option value="13" >13</option>
                    
                    <option value="14" >14</option>
                    
                    <option value="15" >15</option>
                    
                    <option value="16" >16</option>
                    
                    <option value="17" >17</option>
                    
                    <option value="18" >18</option>
                    
                    <option value="19" >19</option>
                    
                    <option value="20" >20</option>
                    
                    <option value="21" >21</option>
                    
                    <option value="22" >22</option>
                    
                    <option value="23" >23</option>
                    
                    <option value="24" >24</option>
                    
                    <option value="25" >25</option>
                    
                    <option value="26" >26</option>
                    
                    <option value="27" >27</option>
                    
                    <option value="28" >28</option>
                    
                    <option value="29" >29</option>
                    
                    <option value="30" >30</option>
                    
                    <option value="31" >31</option>
                    
                  </select>
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </div>
              </td>
              <td class="d-none d-sm-table-cell">
                
                <span class="order-product-price">$359.990</span>
                
              </td>

              <td>
                <span class="order-product-subtotal cart-value">$359.990</span>
              </td>
              <td> <a href="/cart/remove_product/36088172" class="cart-product-remove" title="Quitar Producto"><i class="far fa-trash-alt" aria-hidden="true"></i></a></td>
            </tr>
            
          </table>
        </div>
      </form>
    </div>

    <!-- Cart Options -->
    <div class="col-lg-4 sidebar">
       <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title">Código de descuento</h2>
          <p>Si tienes un código de descuento ingresalo acá, de lo contrario haz clic en 'REALIZAR EL PEDIDO'.</p>
          <form action="" accept-charset="UTF-8" id="coupon_form" autocomplete="off" method="post">  <input id="coupon_code" name="code" type="text" class="text"/>
  <input id="set_coupon_code_button" type="submit" value="Aplicar"/>
  
</form>
        </div>
      </div>
      
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title">Revisión del pedido</h2>
          <table class="table review mb-0">
            
            <tr class="totals key">
              <td colspan="1" class="text-left"><strong>Total</strong></td>
              <td colspan="1" class="text-right"><strong>$359.990</strong></td>
            </tr>

          </table>
        </div>
      </div>

      <div class="cart-actions text-center">
        <a href="" class="btn btn-primary btn-block" title="REALIZAR EL PEDIDO" id="proceed_to_checkout">REALIZAR EL PEDIDO</a>
        <a href="http://localhost:4000/tiendas/agregar" class="continue small mt-2 d-block" title="&larr; AGREGAR MAS PRODUCTOS">&larr; AGREGAR MAS PRODUCTOS</a>
      </div>
    </div>

  </div>
</div>


<script>
  $(document).ready(function(){ if(window.location.href.endsWith('cart/estimate')) $('#set_shipping_button').focus(); });
  $(document).ready(function(){ if(document.referrer.endsWith('cart/estimate')) $('#proceed_to_checkout').focus(); });
</script>

  <!-- Footer -->
  
  <!-- /.container -->

  <!-- Bootstrap Core -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/bootstrap.filestyle/1.1.0/js/bootstrap-filestyle.min.js"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  
  
  <script type="text/javascript" src="https://assets.jumpseller.com/store/iconic/themes/247919/main.js?1602545711"></script>

  
  
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P77S48J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  <script src="https://jumpseller-apps.herokuapp.com/tag-manager/script/a891a906-d29c-47ea-9206-e57ce0d27576/jsapp.js" type="text/javascript" defer="defer"></script>
</body>
</html>