<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="es-CO" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->

  <head>
    <title>COSMESTICOS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Colección de Accesorios con Oro Laminado. Material compuesto por titanio con tres capas de oro 18 kilates al horno con tecnología italiana. Tiene el mismo tono y brillo del oro. Es resistente al agua, sudor y lociones. No se pela, no se negrea, no se decolora. Garantizados por 1 año." />
    <meta name="robots" content="follow, all" />
    
<style>
.btn-whatsapp {
       display:block;
       width:70px;
       height:70px;
       color:#fff;
       position: fixed;
       right:20px;
       bottom:20px;
       border-radius:50%;
       line-height:80px;
       text-align:center;
       z-index:999;
}
</style>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Facebook Meta tags for Product -->
<meta property="fb:app_id" content="283643215104248" />

  <meta property="og:title" content="Oro Laminado" />
  <meta property="og:type" content="website" />
  
    
    
  



<meta property="og:description" content="Colección de Accesorios con Oro Laminado. Material compuesto por titanio con tres capas de oro 18 kilates al horno con tecnología italiana. Tiene el mismo tono y brillo del oro. Es resistente al agua, sudor y lociones. No se pela, no se negrea, no se decolora. Garantizados por 1 año." />
<meta property="og:url" content="https://iconicstr.com/oro-laminado/date/desc?page=1" />
<meta property="og:site_name" content="" />
<meta name="twitter:card" content="summary" />


<meta property="og:locale" content="es_CO" />



    

    
    <link rel="canonical" href="">
    

    <script type="application/ld+json">
{
  "@context": "http://schema.org/"
  
}
</script>


  <script src="//code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <link rel="icon" href=" https://assets.jumpseller.com/store/iconic/themes/247919/options/16634580/Logo%20150x150.jpg?1586449869 ">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

		
    <link rel="stylesheet" type="text/css" href="https://assets.jumpseller.com/store/iconic/themes/247919/app.css?1598495119"/>
    <link rel="stylesheet" type="text/css" href="https://assets.jumpseller.com/store/iconic/themes/247919/color_pickers.css?1598495119"/>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
<script type="text/javascript">
  WebFont.load({
    google: {
      families: ["Roboto Condensed:300,400,500,600,700,800", "Roboto:300,400,500,600,700,800", "Roboto:300,400,500,600,700,800"]
    }
  });
</script>

<style type="text/css">
  body {
    font-family: 'Roboto Condensed' !important;
  }

  h1, h2 {
    font-family: 'Roboto' !important;
  }

  .navbar-brand, .text-logo {
    font-family: 'Roboto' !important;
  }

  body  {
    font-size: 16px !important;
  }

  h2.block-header {font-size:28px !important}

  .navbar-brand, .text-logo {
    font-size: 40px !important;
  }
  #navbarsContainer li a {
    font-size: 13px !important;
  }
  @media (min-width: 768px) {
    #carousel-home .item .carousel-info h2 {
      font-size: 1.5rem !important;
    }
  }

</style>


    

<!-- Script to Dropdown -->
<script>
 $('.float-right .dropdown').click(function(){
$(this).toggleClass('show');
});
</script>

<meta name='google-site-verification' content='i6ycFrMvPhEuoZ0KClKddA3LRU7Kj6AKpdyY_Wn2fBw'/>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '253105328622454');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=253105328622454&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123367543-1">
</script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-123367543-1');
</script>
    
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P77S48J');</script>
<!-- End Google Tag Manager -->

<!-- Mailchimp Code -->
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/d2a8d61921546a1e2b320e187/b064cfbc00ac03ab0eefb003e.js");</script>
<!-- End Mailchimp Code -->
    

<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-12220401-1');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');

  
    ga('create', 'UA-123367543-1', 'iconicstr.com', {'name': 'newTracker'});
    ga('newTracker.send', 'pageview');
  

  
</script>

<script src="/javascripts/dist/jumpseller-2.0.0.js?1602531754" type="text/javascript" defer="defer"></script>
<meta content="authenticity_token" name="csrf-param" /><meta content="qSQY3w/r1SZ1QaUxcR6DOT0inNYD0UtUOfWUuDVpO7Q=" name="csrf-token" />



<script type="text/javascript">
  // Pixel code
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.agent='pljumpseller';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/' + getNavigatorLocale() + '/fbevents.js');

  var data = {};

  data.currency = 'COP';
  data.total = '0.0';
  data.products_count = '0';

  

  data.content_ids = [];
  data.contents = [];
  data.single_value = 0.0;

  // FB Pixel Advanced Matching
  
  
  var advancedCustomerData = {
    'em' : '',
    'fn' : '',
    'ln' : '',
    'ph' : ''.replace(/[^0-9.]/g, ""), // only numbers
    'ct' : ''.replace(/ /g, '') // remove all whitespace
  };

  var missingCustomerData = Object.values(advancedCustomerData).some(function(value) { return value.length == 0 });

  if(missingCustomerData) {
    fbq('init', '253105328622454');
  } else {
    fbq('init', '253105328622454', advancedCustomerData);
  }

  // PageView - build audience views (default FB Pixel behaviour)
  fbq('track', 'PageView');

  

  // track conversion events, ordered by importance (not in this doc)
  // https://developers.facebook.com/docs/facebook-pixel/api-reference%23events
  
      // ViewContent - When a key page is viewed such as a category page
      fbq('track', 'ViewContent', {
        source: 'Jumpseller',
        value: 0,
        currency: data.currency,
        content_name: document.title,
        referrer: document.referrer,
        userAgent: navigator.userAgent,
        language: navigator.language
      });


  

  function getNavigatorLocale(){
    return navigator.language.replace(/-/g,'_')
  }
</script>

<script src="https://jumpseller-apps.herokuapp.com/facebook-messenger/script/ed3bca58-4ce7-4d29-a8fc-18b7f748dbd2/jsapp.js" type="text/javascript" defer="defer"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

  

  <!-- Fixed Top Bar -->
<div class="container mt-md-5 mt-0 header-block">
  <div class="row align-items-center no-gutters">
    <div class="col-md-4 col-2">
      <ul class="social d-none d-md-block list-inline">
        
        <li class="list-inline-item">
          <a href="" class="trsn" title="Ir a Facebook" target="_blank">
            <i class="fab fa-facebook-f fa-fw"></i>
          </a>
        </li>
        

        
        <li class="list-inline-item">
          <a href="" class="trsn" title="Ir a Twitter" target="_blank">
            <i class="fab fa-twitter fa-fw"></i>
          </a>
        </li>
        

        
        
        <li class="list-inline-item">
          <a href="" class="trsn" title="Ir a Instagram" target="_blank">
            <i class="fab fa-instagram fa-fw"></i>
          </a>
        </li>
        

        
        <li class="list-inline-item">
          <a href="" class="trsn" title="WhatsApp" target="_blank">
            <i class="fab fa-whatsapp fa-fw"></i>
          </a>
        </li>
        
        
      </ul>

    </div>
    <!-- Logo -->
    <div class="col-md-4 col-8 text-center">
     <a href="" title="앤드류스 스토어">
          <h2>앤드류스 스토어</h2>
<img src="" class="navbar-brand store-image img-fluid" alt="" />
        
      </a>
    </div>
    <div class="col-md-4 col-2">
      <ul class="list-inline text-right header_actions m-0">
        
        
        
        <li class="list-inline-item d-none d-sm-inline-block">
          <a href="/customer/login" id="login-link" class="header_actions-link" title='Ingresar'  data-toggle="tooltip" data-placement="top">
            <i class="fas fa-user-circle"></i>
          </a>
        </li>
        
        
        <li class="list-inline-item d-none d-md-inline-block">
          <button type="button" data-toggle="modal" data-target="#search_modal" class="p-0 header_actions-link">
            <i class="fas fa-search" data-toggle="tooltip" title="Buscar" data-placement="top"></i>
          </button>
          <div id="search_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="search_modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-center d-block" id="search_modal">Buscar</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="header_search-form" class="search-form" method="get" action="/search">
                    <input type="text" value="" name="q" class="form-control" onFocus="javascript:this.value=''" placeholder="Buscar productos" />
                    <button type="submit"><i class="fas fa-search"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </li>
        
        <li class="list-inline-item cart">
          <a id="cart-link" href="https://iconicstr.com/cart" title="Carro de Compras" class="header_actions-link" data-toggle="tooltip" data-placement="top">
            <i class="fas fa-shopping-cart"></i>
          <span class="cart-size"></span>
          </a>
        </li>
        
      </ul>

    </div>
  </div>
</div>


<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>


  <!-- Navigation Mobile -->
<div class="mobilenav d-lg-none trsn">
  <div class="menu-header">
    <div class="item item-1 trsn">
      <i class="fas fa-search"></i>
      <form id="search_mini_form_mobile" class="navbar-form form-inline trsn" method="get" action="/search">
        <input type="text" value="" name="q" class="form-text" onFocus="javascript:this.value=''" placeholder="Buscar productos" />
      </form>
    </div>
    
    

    <div class="nav-icon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="menu-top"></div>
  <div class="mobilenav-inner">
    <ul class="menu-mobile trsn">
      
      <li class=" ">
  
  <a href="/" title="Inicio">Inicio</a>
  

  
</li>

      
      <li class=" ">
  
  <a href="/oro-laminado" title="Oro Laminado">Oro Laminado</a>
  

  
</li>

      
      <li class=" ">
  
  <a href="/pulseras-para-parejas" title="Pulseras para Parejas">Pulseras para Parejas</a>
  

  
</li>

      
      <li class=" ">
  
  <a href="/pulseras-con-neopreno" title="Pulseras con Neopreno">Pulseras con Neopreno</a>
  

  
</li>

      
      <li class=" ">
  
  <a href="/pulseras-con-piedras" title="Pulseras con Piedras">Pulseras con Piedras</a>
  

  
</li>

      
      <li class=" ">
  
  <a href="/pulseras-con-cuero" title="Pulseras con Cuero">Pulseras con Cuero</a>
  

  
</li>

      
      <li class=" ">
  
  <a href="/camandulas" title="Camandulas">Camandulas</a>
  

  
</li>

      
      <li class=" ">
  
  <a href="/collares-y-cadenas" title="Collares y Cadenas">Collares y Cadenas</a>
  

  
</li>

      
      <li class=" ">
  
  <a href="/camisetas-y-gorras" title="Camisetas y Gorras">Camisetas y Gorras</a>
  

  
</li>

      
      <li>
        
        <div class="login" >
          <a href="/customer/login" id="login-link-2" class="trsn nav-link" title="Ingresar / RegistrarseIconic Store">
            <i class="fas fa-user"></i>
            <span class="customer-name">
              Ingresar / Registrarse
            </span>
          </a>
        </div>
        
      </li>
      <li>
        
      </li>
      
      <li class="social-item">
        <a href="https://www.facebook.com/iconic.str" class="trsn" title="Ir a Facebook" target="_blank">
          <i class="fab fa-facebook-f fa-fw"></i>Facebook
        </a>
      </li>
      

      
      <li class="social-item">
        <a href="https://www.twitter.com/Iconic_Str" class="trsn" title="Ir a Twitter" target="_blank">
          <i class="fab fa-twitter fa-fw"></i>Twitter
        </a>
      </li>
      

      
      
      <li class="social-item">
        <a href="https://www.instagram.com/iconic_str" class="trsn" title="Ir a Instagram" target="_blank">
          <i class="fab fa-instagram fa-fw"></i>Instagram
        </a>
      </li>
      
      
      <li class="social-item">
        <a href="https://api.whatsapp.com/send?phone=573145631482&text=Hola%20Iconic Store" class="trsn" title="WhatsApp" target="_blank">
          <i class="fab fa-whatsapp fa-fw"></i>WhatsApp
        </a>
      </li>
      
      
    </ul>
  </div>
</div>
<div class="nav-bg-opacity"></div>

  
  <!-- Page Content -->
  <script>
  $('.dropdown-filter').click(function(){
    $(this).toggleClass('show');
  });
</script>
<div class="container mt-md-0 my-5">
  <div class="row">
    <div class="col-12">
      <h1 class="page-header">Oro Laminado</h1>
    </div>
    
    
    <h2 class="col-12 category-description">
      Colección de Accesorios con Oro Laminado. Material compuesto por titanio con tres capas de oro 18 kilates al horno con tecnología italiana. Tiene el mismo tono y brillo del oro. Es resistente al agua, sudor y lociones. No se pela, no se negrea, no se decolora. Garantizados por 1 año. 
    </h2>
    
  </div>

  

  
  <div class="row">
    <!-- filter mobile -->
    <div class=" col-12 d-md-none">
      <div class="row justify-content-between mt-2">
        <div class="col-6 product-qty">
          <strong>91 Producto(s)</strong>
        </div>
        
        <div class="col-6">
          <div class="field-group select">
            <select class="select form-control form-control-sm" onchange="window.location.href = this.value">
              
              <option  value="/oro-laminado/position/asc#body">Posición</option>
              
              <option  value="/oro-laminado/name/asc#body">Nombre: A a Z</option>
              
              <option  value="/oro-laminado/name/desc#body">Nombre: Z a A</option>
              
              <option  value="/oro-laminado/price/asc#body">Precio: de menor a mayor</option>
              
              <option  value="/oro-laminado/price/desc#body">Precio: de mayor a menor</option>
              
              <option selected="selected" value="/oro-laminado/date/desc#body">Fecha: Lo más reciente primero</option>
              
            </select>
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </div>
        </div>
        
      </div>
    </div>
    
    <!-- end filter mobile -->
    
    <div class="col-12">
      <div class="row justify-content-between mb-4">
        <div class="col-md-5 product-qty d-none d-md-block">
          <strong>91 Producto(s)</strong>
        </div>

        <div class="col-lg-5 col-md-7 d-none d-md-block">
          
          <div class="form-group row">
            <label class="col-sm-12 col-md-4 col-form-label col-form-label-sm text-md-right">Ordenar por:</label>
            <div class="col-sm-12 col-md-8">
              <div class="field-group select">
                <select class="select form-control form-control-sm" onchange="window.location.href = this.value">
                  
                  <option  value="/oro-laminado/position/asc#body">Posición</option>
                  
                  <option  value="/oro-laminado/name/asc#body">Nombre: A a Z</option>
                  
                  <option  value="/oro-laminado/name/desc#body">Nombre: Z a A</option>
                  
                  <option  value="/oro-laminado/price/asc#body">Precio: de menor a mayor</option>
                  
                  <option  value="/oro-laminado/price/desc#body">Precio: de mayor a menor</option>
                  
                  <option selected="selected" value="/oro-laminado/date/desc#body">Fecha: Lo más reciente primero</option>
                  
                </select>
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="row mb-md-5 mb-4 mx-n2">
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/pulseras-para-parejas-coronas-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/12126449/resize/255/255?1602297124" srcset="https://cdnx.jumpseller.com/iconic/image/12126449/resize/255/255?1602297124 1x,https://cdnx.jumpseller.com/iconic/image/12126449/resize/510/510?1602297124 2x" alt="Pulseras para Parejas Coronas Oro Laminado 18K" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/pulseras-para-parejas-coronas-oro-laminado-18k">Pulseras para Parejas Coronas Oro Laminado 18K</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$239.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/aretes-candongas-oro-laminado" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/12110536/resize/255/255?1602213238" srcset="https://cdnx.jumpseller.com/iconic/image/12110536/resize/255/255?1602213238 1x,https://cdnx.jumpseller.com/iconic/image/12110536/resize/510/510?1602213238 2x" alt="Aretes Candongas Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/aretes-candongas-oro-laminado">Aretes Candongas Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$54.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/topos-aretes-coronas-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/12110151/resize/255/255?1602209864" srcset="https://cdnx.jumpseller.com/iconic/image/12110151/resize/255/255?1602209864 1x,https://cdnx.jumpseller.com/iconic/image/12110151/resize/510/510?1602209864 2x" alt="Topos Aretes Coronas Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/topos-aretes-coronas-oro-laminado-18k">Topos Aretes Coronas Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$59.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/dije-caballo-herradura-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/12093498/resize/255/255?1602126360" srcset="https://cdnx.jumpseller.com/iconic/image/12093498/resize/255/255?1602126360 1x,https://cdnx.jumpseller.com/iconic/image/12093498/resize/510/510?1602126360 2x" alt="Dije Caballo Herradura Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/dije-caballo-herradura-oro-laminado-18k">Dije Caballo Herradura Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$64.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/cadena-caballo-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/12093495/resize/255/255?1602126065" srcset="https://cdnx.jumpseller.com/iconic/image/12093495/resize/255/255?1602126065 1x,https://cdnx.jumpseller.com/iconic/image/12093495/resize/510/510?1602126065 2x" alt="Cadena Caballo Herradura Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/cadena-caballo-oro-laminado-18k">Cadena Caballo Herradura Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$139.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/par-de-pulseras-san-miguel-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/12077872/resize/255/255?1602039990" srcset="https://cdnx.jumpseller.com/iconic/image/12077872/resize/255/255?1602039990 1x,https://cdnx.jumpseller.com/iconic/image/12077872/resize/510/510?1602039990 2x" alt="Par de Pulseras San Miguel Arcángel Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/par-de-pulseras-san-miguel-oro-laminado-18k">Par de Pulseras San Miguel Arcángel Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$119.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/cadena-oro-laminado-18k-3" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/12055928/resize/255/255?1601952433" srcset="https://cdnx.jumpseller.com/iconic/image/12055928/resize/255/255?1601952433 1x,https://cdnx.jumpseller.com/iconic/image/12055928/resize/510/510?1601952433 2x" alt="Cadena Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/cadena-oro-laminado-18k-3">Cadena Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$169.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/pulsera-san-benito-cuero-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11615796/resize/255/255?1600039179" srcset="https://cdnx.jumpseller.com/iconic/image/11615796/resize/255/255?1600039179 1x,https://cdnx.jumpseller.com/iconic/image/11615796/resize/510/510?1600039179 2x" alt="Pulsera San Benito Cuero Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/pulsera-san-benito-cuero-oro-laminado-18k">Pulsera San Benito Cuero Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$49.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/cadena-virgen-milagrosa-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11781142/resize/255/255?1600741342" srcset="https://cdnx.jumpseller.com/iconic/image/11781142/resize/255/255?1600741342 1x,https://cdnx.jumpseller.com/iconic/image/11781142/resize/510/510?1600741342 2x" alt="Cadena Virgen Milagrosa Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/cadena-virgen-milagrosa-oro-laminado-18k">Cadena Virgen Milagrosa Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$109.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/cadena-virgen-guadalupe-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11781126/resize/255/255?1600741306" srcset="https://cdnx.jumpseller.com/iconic/image/11781126/resize/255/255?1600741306 1x,https://cdnx.jumpseller.com/iconic/image/11781126/resize/510/510?1600741306 2x" alt="Cadena Virgen Guadalupe Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/cadena-virgen-guadalupe-oro-laminado-18k">Cadena Virgen Guadalupe Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$109.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/pulsera-san-miguel-arcangel-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11594072/resize/255/255?1599875354" srcset="https://cdnx.jumpseller.com/iconic/image/11594072/resize/255/255?1599875354 1x,https://cdnx.jumpseller.com/iconic/image/11594072/resize/510/510?1599875354 2x" alt="Pulsera San Miguel Arcángel Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/pulsera-san-miguel-arcangel-oro-laminado-18k">Pulsera San Miguel Arcángel Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$159.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/pulsera-caballo-herradura-neopreno-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11507523/resize/255/255?1599432658" srcset="https://cdnx.jumpseller.com/iconic/image/11507523/resize/255/255?1599432658 1x,https://cdnx.jumpseller.com/iconic/image/11507523/resize/510/510?1599432658 2x" alt="Pulsera Caballo Herradura Neopreno Oro Laminado 18K" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/pulsera-caballo-herradura-neopreno-oro-laminado-18k">Pulsera Caballo Herradura Neopreno Oro Laminado 18K</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$129.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/pulsera-san-miguel-arcangel-cuarzo-rosa-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11497124/resize/255/255?1599343392" srcset="https://cdnx.jumpseller.com/iconic/image/11497124/resize/255/255?1599343392 1x,https://cdnx.jumpseller.com/iconic/image/11497124/resize/510/510?1599343392 2x" alt="Pulsera San Miguel Arcangel Cuarzo Rosa Oro Laminado 18K" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/pulsera-san-miguel-arcangel-cuarzo-rosa-oro-laminado-18k">Pulsera San Miguel Arcangel Cuarzo Rosa Oro Laminado 18K</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$99.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/cadena-oro-laminado-18k-2" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11491559/resize/255/255?1599271120" srcset="https://cdnx.jumpseller.com/iconic/image/11491559/resize/255/255?1599271120 1x,https://cdnx.jumpseller.com/iconic/image/11491559/resize/510/510?1599271120 2x" alt="Cadena Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/cadena-oro-laminado-18k-2">Cadena Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$96.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/cadena-oro-laminado-18k-1" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11397995/resize/255/255?1601563746" srcset="https://cdnx.jumpseller.com/iconic/image/11397995/resize/255/255?1601563746 1x,https://cdnx.jumpseller.com/iconic/image/11397995/resize/510/510?1601563746 2x" alt="Cadena Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/cadena-oro-laminado-18k-1">Cadena Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$96.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/cadena-san-benito-de-abad-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11368675/resize/255/255?1600741557" srcset="https://cdnx.jumpseller.com/iconic/image/11368675/resize/255/255?1600741557 1x,https://cdnx.jumpseller.com/iconic/image/11368675/resize/510/510?1600741557 2x" alt="Cadena San Benito de Abad Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/cadena-san-benito-de-abad-oro-laminado-18k">Cadena San Benito de Abad Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$109.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/cadena-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11978597/resize/255/255?1601602663" srcset="https://cdnx.jumpseller.com/iconic/image/11978597/resize/255/255?1601602663 1x,https://cdnx.jumpseller.com/iconic/image/11978597/resize/510/510?1601602663 2x" alt="Cadena Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/cadena-oro-laminado-18k">Cadena Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$109.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/cadena-oro-laminado-arcangel-san-miguel" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11225326/resize/255/255?1600623133" srcset="https://cdnx.jumpseller.com/iconic/image/11225326/resize/255/255?1600623133 1x,https://cdnx.jumpseller.com/iconic/image/11225326/resize/510/510?1600623133 2x" alt="Cadena Oro Laminado Arcángel San Miguel" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/cadena-oro-laminado-arcangel-san-miguel">Cadena Oro Laminado Arcángel San Miguel</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$109.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/par-de-pulseras-infinito-oro-laminado-cuero-natural" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11213138/resize/255/255?1597807372" srcset="https://cdnx.jumpseller.com/iconic/image/11213138/resize/255/255?1597807372 1x,https://cdnx.jumpseller.com/iconic/image/11213138/resize/510/510?1597807372 2x" alt="Par de Pulseras Infinito Oro Laminado Cuero Natural" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/par-de-pulseras-infinito-oro-laminado-cuero-natural">Par de Pulseras Infinito Oro Laminado Cuero Natural</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$90.000</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/pulsera-tejida-caballo-herradura-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11213057/resize/255/255?1597844333" srcset="https://cdnx.jumpseller.com/iconic/image/11213057/resize/255/255?1597844333 1x,https://cdnx.jumpseller.com/iconic/image/11213057/resize/510/510?1597844333 2x" alt="Pulsera Tejida Caballo Herradura Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/pulsera-tejida-caballo-herradura-oro-laminado-18k">Pulsera Tejida Caballo Herradura Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$88.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/pulsera-con-neopreno-y-oro-laminado-18k-53" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11185307/resize/255/255?1597703506" srcset="https://cdnx.jumpseller.com/iconic/image/11185307/resize/255/255?1597703506 1x,https://cdnx.jumpseller.com/iconic/image/11185307/resize/510/510?1597703506 2x" alt="Pulsera con Neopreno y Oro Laminado 18K" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/pulsera-con-neopreno-y-oro-laminado-18k-53">Pulsera con Neopreno y Oro Laminado 18K</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$69.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/pulsera-tejida-san-miguel-arcangel-oro-laminado-18k-1" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11096487/resize/255/255?1597115543" srcset="https://cdnx.jumpseller.com/iconic/image/11096487/resize/255/255?1597115543 1x,https://cdnx.jumpseller.com/iconic/image/11096487/resize/510/510?1597115543 2x" alt="Pulsera Tejida San Miguel Arcángel Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/pulsera-tejida-san-miguel-arcangel-oro-laminado-18k-1">Pulsera Tejida San Miguel Arcángel Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$59.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/pulsera-tejida-san-miguel-arcangel-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11096485/resize/255/255?1597149410" srcset="https://cdnx.jumpseller.com/iconic/image/11096485/resize/255/255?1597149410 1x,https://cdnx.jumpseller.com/iconic/image/11096485/resize/510/510?1597149410 2x" alt="Pulsera Tejida San Miguel Arcángel Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/pulsera-tejida-san-miguel-arcangel-oro-laminado-18k">Pulsera Tejida San Miguel Arcángel Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$59.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/rosario-ojo-de-tigre-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/11081141/resize/255/255?1597012077" srcset="https://cdnx.jumpseller.com/iconic/image/11081141/resize/255/255?1597012077 1x,https://cdnx.jumpseller.com/iconic/image/11081141/resize/510/510?1597012077 2x" alt="Rosario Ojo de Tigre Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/rosario-ojo-de-tigre-oro-laminado-18k">Rosario Ojo de Tigre Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$349.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/pulsera-con-neopreno-y-oro-laminado-18k-52" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/10748492/resize/255/255?1595724749" srcset="https://cdnx.jumpseller.com/iconic/image/10748492/resize/255/255?1595724749 1x,https://cdnx.jumpseller.com/iconic/image/10748492/resize/510/510?1595724749 2x" alt="Pulsera con Neopreno y Oro Laminado 18K" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/pulsera-con-neopreno-y-oro-laminado-18k-52">Pulsera con Neopreno y Oro Laminado 18K</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$124.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/topos-aretes-balin-6mm-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/9163265/resize/255/255?1602206346" srcset="https://cdnx.jumpseller.com/iconic/image/9163265/resize/255/255?1602206346 1x,https://cdnx.jumpseller.com/iconic/image/9163265/resize/510/510?1602206346 2x" alt="Topos Aretes Balin 6mm Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/topos-aretes-balin-6mm-oro-laminado-18k">Topos Aretes Balin 6mm Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$54.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/pulsera-tejida-san-benito-oro-laminado-18k-1" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/9037922/resize/255/255?1590719656" srcset="https://cdnx.jumpseller.com/iconic/image/9037922/resize/255/255?1590719656 1x,https://cdnx.jumpseller.com/iconic/image/9037922/resize/510/510?1590719656 2x" alt="Pulsera Tejida San Benito Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/pulsera-tejida-san-benito-oro-laminado-18k-1">Pulsera Tejida San Benito Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$85.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        <div class="col-md-3 col-6 product-block mb-4 px-2">
          <div class="product-block text-center mb-3">
  <a href="/pulsera-tejida-san-benito-oro-laminado-18k" class="product-image d-block">
    
    
    
    
    <img class="img-fluid img-portfolio img-hover mb-2" src="https://cdnx.jumpseller.com/iconic/image/9037882/resize/255/255?1590719516" srcset="https://cdnx.jumpseller.com/iconic/image/9037882/resize/255/255?1590719516 1x,https://cdnx.jumpseller.com/iconic/image/9037882/resize/510/510?1590719516 2x" alt="Pulsera Tejida San Benito Oro Laminado 18k" />
    
  </a>
  
  
  
  <div class="caption">
    <h4><a href="/pulsera-tejida-san-benito-oro-laminado-18k">Pulsera Tejida San Benito Oro Laminado 18k</a></h4>
    
    <div class="list-price">
      
      <span class="product-block-list">$85.990</span>
      
    </div>
    
  </div>
</div>

        </div>
        
        
        <div class="col-12">
  
  <!-- Pagination -->
  <div class="category-pager">
    
    <a class="square-button disabled"><i class="fas fa-angle-left"></i></a>
    <div class="count">
      <span>1</span>
      <span>de</span>
      <span>4</span>
    </div>
    <a href="/oro-laminado/date/desc?page=2" class="square-button"><i class="fas fa-angle-right"></i></a>
    
  </div>
  
</div>

      </div>
    </div>
  </div>
  
  
</div>
<div class="btn-whatsapp">
<a href="https://api.whatsapp.com/send?phone=573145631482&text=%C2%A1Hola!%20Deseo%20informaci%C3%B3n%20sobre%20sus%20productos.%20Iconicstr.com%20" target="_blank">
<img src="https://cdn.shopify.com/s/files/1/0070/3666/5911/files/ic-3.svg?v=1584017540" alt="">
</a>
</div>

  <!-- Footer -->
  
  <footer class="pt-5 pb-3">
  <div class="container">
    <div class="row text-md-left text-center justify-content-center">
      
      <div class="col-lg-3 col-md-6">
        <h5>Sobre Nosotros</h5>
        <div class="footer-description text-center text-md-left mb-lg-0 mb-3">
          
          Tienda de Accesorios, Oro Laminado, Manillas, Collares, Camandulas, Gorras y Camisetas. Envíos a toda Colombia. Compra 100% Segura. Reputación 5/5 ★★★★★
          
        </div>
      </div>
      
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
        <h5>Contacto</h5>
        <ul>
          <li><a href="mailto:iconic.ventas@gmail.com" target="_blank" title="iconic.ventas@gmail.com">iconic.ventas@gmail.com</a></li>
          
          <li class="footer-top__menu-item">
            <a href="tel:+573145631482" title="Llámanos">+57 3145631482</a>
          </li>
          
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
        <h5>Menú</h5>
        <ul class="navbar-nav mr-auto">
          
          <li>
  <a href="/terminos-y-condiciones"  title="Términos y Condiciones">Términos y Condiciones</a>
</li>



          
          <li>
  <a href="/garantias-y-reembolsos"  title="Garantías y Reembolsos">Garantías y Reembolsos</a>
</li>



          
          <li>
  <a href="/politicas-de-envio"  title="Políticas de Envío">Políticas de Envío</a>
</li>



          
          <li>
  <a href="/recomendaciones"  title="Recomendaciones">Recomendaciones</a>
</li>



          
          <li>
  <a href="/dias-sin-iva"  title="Días sin IVA">Días sin IVA</a>
</li>



          
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
        
        <h5>Suscríbete a Nuestro Newsletter</h5>
        <div id="newsletter">
          <form action="http://eepurl.com/g1czw9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="form-group mb-0">
                <!-- Begin MailChimp Signup Form -->
                <input type="email" id="mce-EMAIL" class="email field form-control footer-subscribe__email" name="EMAIL" placeholder="Ingresa tu E-mail" required>
                <button type="submit" id="mc-embedded-subscribe" class="btn btn-link p-0 footer-subscribe__button" name="subscribe"><i class="far fa-envelope"></i></button>
                <!-- end .footer-subscribe__field -->

                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_37d0843fc21a18eccb8d392eb_f7037d65c5" tabindex="-1" value=""></div>
              </div>
              <small>Registra tu e-mail para recibir ofertas.</small>
            </div>
          </form>
        </div>
        
        
        
        <ul class="list-inline social-footer my-3">
          
          <li class="list-inline-item">
            <strong>Síguenos:</strong>
          </li>
          
          
          <li class="list-inline-item">
            <a href="https://www.facebook.com/iconic.str" title="Ir a Facebook" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          

          
          <li class="list-inline-item">
            <a href="https://www.twitter.com/Iconic_Str" title="Ir a Twitter" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </li>
          

          
          
          <li class="list-inline-item">
            <a href="https://www.instagram.com/iconic_str" title="Ir a Instagram" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          
          
          <li class="list-inline-item d-md-none">
            <a href="https://api.whatsapp.com/send?phone=573145631482&text=Hola Iconic Store!" title="WhatsApp" target="_blank">
              <i class="fab fa-whatsapp fa-fw"></i>
            </a>
          </li>
          
          
        </ul>
        
      </div>


    </div>
  </div>
  <hr class="mb-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-4 text-lg-left text-center mb-lg-0 mb-3">
        <div class="powerd-by">&copy; 2020 Iconic Store. <br>Todos los derechos reservados. Powered by <a href='https://jumpseller.co/?utm_medium=store&utm_source=iconic' title='Crear Tienda Online' target='_blank' rel='nofollow noopener'>Jumpseller</a>.</div>
      </div>
      <div class="col-md-4 text-center">
        <a href="/" title="Iconic Store">
          
          <img src="https://assets.jumpseller.com/store/iconic/themes/247919/options/16635081/Encabezado%201.jpg?1586400569" alt="Iconic Store" class="navbar-brand img-fluid p-0 pb-3"/>
          
        </a>
      </div>
      <div class="col-md-4">
        <ul class="payment text-lg-right text-center">
          
          
          
          
          
          
          
          <li><span><img src="https://assets.jumpseller.com/store/iconic/themes/247919/pay-payu.png?1598495119" alt="PayU"></span></li>
          <li><span><img src="https://assets.jumpseller.com/store/iconic/themes/247919/pay-visa.png?1598495119" alt="Visa"></span></li>
          <li><span><img src="https://assets.jumpseller.com/store/iconic/themes/247919/pay-master.png?1598495119"  alt="Mastercard"></span></li>
          
          <li><span><img src="https://assets.jumpseller.com/store/iconic/themes/247919/pay-paypal.png?1598495119" alt="Paypal"></span></li>
          
          

          
          
        </ul>
      </div>
    </div>
  </div>

</footer>

  
  <!-- /.container -->

  <!-- Bootstrap Core -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/bootstrap.filestyle/1.1.0/js/bootstrap-filestyle.min.js"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  
  
  <script type="text/javascript" src="https://assets.jumpseller.com/store/iconic/themes/247919/main.js?1598495119"></script>

  
  
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P77S48J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  <script src="https://jumpseller-apps.herokuapp.com/tag-manager/script/a891a906-d29c-47ea-9206-e57ce0d27576/jsapp.js" type="text/javascript" defer="defer"></script>
</body>
</html>